:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --white-color: #ffffff;
}

/* колір конт в футері rgba(255, 255, 255, 0.6); */
/* вторичн цвет фона #F5F4FA */
/* колір футера #2F303A */
body {
  font-family: "roboto", sans-serif;
  color: var(--primary-text-color);
  background: var(--primary-bg-color);
}

.list {
  list-style: none;
}

/*--------------HEADER------------*/

.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  color: var(--primary-text-color);
}

.header-mail,
.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--secondary-text-color);
}

.header-contacts .link:hover,
.header-contacts .link:focus {
  color: var(--accent-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}
/*--------------HERO------------*/

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  color: var(--white-color);
  background-color: #2f303a;
}
.hero-btn {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  cursor: pointer;

  color: var(--white-color);
  background: var(--accent-color);
}

/* ---------SECTION------------- */
.features .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features .text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;

  letter-spacing: 0.03em;
}
